<section class="advantages">
    <div class="section-headline">
        <p>Возможности платформы</p>
    </div>

    <div class="swiper">
        <div class="advantages__list swiper-wrapper">
            <div class="advantages__item swiper-slide">
                <div class="advantages__purple-glow-left purple-glow"></div>
                <div class="advantages__purple-glow-right purple-glow"></div>
                <div class="advantages__text-block">
                    <h3 class="advantages__number">01</h3>
                    <h4 class="advantages__title">Можно играть на <span>Smart-tv</span> или <span>PC</span></h4>
                    <p class="advantages__description">Собери друзей перед экраном ТВ и можно начинать вечеринку!</p>
                    <button class="advantages__button gradient-button">Начать играть</button>
                </div>
                <div class="advantages__image">
                    <img src="../assets/images/first-advantage.png" />
                </div>
            </div>

            <div class="advantages__item swiper-slide">
                <div class="advantages__purple-glow-left purple-glow"></div>
                <div class="advantages__purple-glow-right purple-glow"></div>
                <img class="advantages__dice" src="../assets/images/dice.png" />
                <div class="advantages__text-block">
                    <h3 class="advantages__number">02</h3>
                    <h4 class="advantages__title">Мобильный телефон в качестве <span>контроллера</span></h4>
                    <p class="advantages__description">C их помощью можно выбирать правильные ответы, управлять
                        событиями на большом экране</p>
                    <button class="advantages__button gradient-button">Начать играть</button>
                </div>
                <div class="advantages__image">
                    <img src="../assets/images/second-advantage.png" />
                </div>
            </div>

            <div class="advantages__item swiper-slide">
                <div class="advantages__purple-glow-left purple-glow"></div>
                <div class="advantages__purple-glow-right purple-glow"></div>
                <div class="advantages__text-block">
                    <h3 class="advantages__number">03</h3>
                    <h4 class="advantages__title"><span>Новые</span> игры каждую пятницу</h4>
                    <p class="advantages__description">Простые правила, быстрые и интересные партии</p>
                    <button class="advantages__button gradient-button">Начать играть</button>
                </div>
                <div class="advantages__image">
                    <img src="../assets/images/third-advantage.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="advantages__pagination swiper-pagination"></div>
</section>