<section class="faq">
    <div class="section-headline">
        <p>faq</p>
    </div>

    <img class="faq__pink-sphere" src="../assets/images/pink-sphere.png" />
    <div class="faq__purple-glow purple-glow"></div>

    <div class="faq__questions">
        <div id="faq-1" class="faq__question-block">
            <div class="faq__question">
                <p>Что такое PartyStation?</p>
            </div>
            <button class="faq__button"></button>
            <div class="faq__answer-wrapper">
                <div>
                    <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum porro
                        repudiandae culpa
                        ratione veritatis, architecto veniam voluptates voluptatum facere iure autem libero ducimus
                        corporis a
                        fuga odit perferendis reprehenderit labore illum quae eius maxime. Voluptatem voluptatum eum
                        nesciunt
                        placeat sunt in pariatur commodi velit. Veniam corrupti sint rerum numquam itaque aliquid
                        pariatur,
                        placeat, dolorem minus tenetur eligendi earum illo dolorum, quisquam explicabo qui
                        exercitationem.
                        Dolore impedit quasi labore doloribus non sequi earum at repellendus, nam, veniam minus
                        laboriosam,
                        vitae nisi voluptatum? Ad illum quos debitis ullam asperiores animi a, optio blanditiis eum
                        fugiat earum
                        tempore fuga vel temporibus, eveniet corporis!</p>
                </div>
            </div>
        </div>

        <div id="faq-2" class="faq__question-block">
            <div class="faq__question">
                <p>Какие игры есть в PartyStation?</p>
            </div>
            <button class="faq__button"></button>
            <div class="faq__answer-wrapper">
                <div>
                    <p class="faq__answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt repellat,
                        hic autem reprehenderit rem itaque! Hic, facere nam id praesentium accusantium ratione neque
                        repudiandae ullam quidem ea. Accusantium maxime ex reiciendis nisi, totam asperiores aliquam
                        repellat inventore ipsum quia, quisquam deleniti aspernatur, quasi unde? Corporis quos ipsa
                        voluptatem eius ratione!</p>
                </div>
            </div>
        </div>

        <div id="faq-3" class="faq__question-block">
            <div class="faq__question">
                <p>Как играть в PartyStation?</p>
            </div>
            <button class="faq__button"></button>
            <div class="faq__answer-wrapper">
                <div>
                    <p class="faq__answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt repellat,
                        hic autem reprehenderit rem itaque! Hic, facere nam id praesentium accusantium ratione neque
                        repudiandae ullam quidem ea. Accusantium maxime ex reiciendis nisi, totam asperiores aliquam
                        repellat inventore ipsum quia, quisquam deleniti aspernatur, quasi unde? Corporis quos ipsa
                        voluptatem eius ratione!</p>
                </div>
            </div>
        </div>

        <div id="faq-4" class="faq__question-block">
            <div class="faq__question">
                <p>Какие устройства поддерживаются в PatyStation?</p>
            </div>
            <button class="faq__button"></button>
            <div class="faq__answer-wrapper">
                <div>
                    <p class="faq__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quo vel
                        architecto rem autem quia doloribus maiores fugiat quos esse doloremque nesciunt atque
                        cupiditate qui laboriosam nemo culpa neque aspernatur ducimus, eos ipsam dignissimos iste
                        explicabo! Minima dicta distinctio corrupti libero doloremque, natus consectetur molestias?
                        Repellat reiciendis sequi, eos quis amet voluptatum ab provident culpa. Minus provident
                        inventore nesciunt, laboriosam quidem dignissimos animi asperiores aspernatur vel mollitia quae
                        fugiat a odio ex repellat dolores? Nostrum vero quisquam enim! Unde qui totam autem quaerat
                        voluptas inventore cupiditate iusto assumenda ducimus sit id, neque vel eum quam? Dolor dicta
                        quia impedit numquam labore explicabo sequi beatae accusamus fugiat officiis sit deserunt nobis
                        exercitationem at, obcaecati repellendus! At rerum tenetur ad eaque natus, eveniet praesentium
                        asperiores voluptatum repellendus doloremque molestias aspernatur officiis. Asperiores nostrum
                        perferendis eius cupiditate et. Sapiente cupiditate similique at. Magni expedita eaque neque
                        sint repudiandae id voluptates, veritatis consectetur fugiat sunt ipsa tempore culpa tenetur
                        sequi temporibus exercitationem ut ratione? Quas dicta magnam quibusdam nihil doloremque
                        molestiae sequi quaerat at itaque ab fugit asperiores recusandae obcaecati eius perferendis
                        libero accusantium culpa earum sunt hic dignissimos perspiciatis, maxime tempore! Iusto,
                        similique quia! Est ducimus reprehenderit, aliquam molestiae repellendus ad? Cupiditate, id.</p>
                </div>
            </div>
        </div>

        <div id="faq-5" class="faq__question-block">
            <div class="faq__question">
                <p>Сколько это стоит?</p>
            </div>
            <button class="faq__button"></button>
            <div class="faq__answer-wrapper">
                <div>
                    <p class="faq__answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt repellat,
                        hic autem reprehenderit rem itaque! Hic, facere nam id praesentium accusantium ratione neque
                        repudiandae ullam quidem ea. Accusantium maxime ex reiciendis nisi, totam asperiores aliquam
                        repellat inventore ipsum quia, quisquam deleniti aspernatur, quasi unde? Corporis quos ipsa
                        voluptatem eius ratione!</p>
                </div>
            </div>
        </div>
    </div>
</section>