<footer>
    <div class="footer">
        <div class="wrapper">
            <img class="footer__moon" src="../assets/images/moon.png" />

            <div class="footer__content">
                <img class="footer__logo" src="../assets/images/logo.svg" />

                <nav class="footer__links">
                    <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">О компании</a>
                    <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">Вакансии</a>
                    <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">Для партнеров</a>
                    <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">Размещение рекламы</a>
                </nav>

                <div class="footer__info-block">
                    <a class="footer__mail" href="mailto: info@pstvm.ru" target="_blank">info@pstvm.ru</a>
                    <a class="footer__phone" href="tel:84996850000" target="_blank">+7 (499) 685-00-00</a>
                    <a class="footer__address" href="https://yandex.ru/maps/-/CDR6nBpZ" target="_blank">к322А, Центральный пр., Зеленоград, Москва</a>
                </div>

                <div class="footer__buttons">
                    <button class="footer__support-button">
                        <p>Служба поддержки</p>
                    </button>
                    <button><img src="../assets/images/telegram.svg" /></button>
                    <button><img src="../assets/images/ok.svg" /></button>
                    <button><img src="../assets/images/youtube.svg" /></button>
                    <button><img src="../assets/images/vk.svg" /></button>
                    <button class="footer__google-play-button">
                        <img src="../assets/images/google-play.svg" />
                    </button>
                </div>

                <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank"
                    class="footer__company footer__small-text">ООО «Студия Валерия Комягина»</a>
                <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank"
                    class="footer__terms footer__small-text">Пользовательское соглашение</a>
                <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank"
                    class="footer__privacy footer__small-text">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>