<section class="games">
  <div class="section-headline">
    <p>во что сыграем?</p>
    <h2>
      Простые правила, быстрые и интересные партии и постоянно пополняющийся каталог
    </h2>
  </div>

  <div class="swiper games__popular">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../assets/images/svintus-hq.png" />
        <div class="games__slide-text">
          <h4>Свинтус NEON</h5>
          <p>Весёлая и быстрая карточная игра для любой компании, для малого и большого количества игроков</p>
        </div>
        <button class="games__next-btn">
          <img src="../assets/images/slider-arrow.svg" />
        </button>
      </div>
      <div class="swiper-slide">
        <img src="../assets/images/mafia-hq.png" />
        <div class="games__slide-text">
          <h4>Мафия</h5>
          <p>Весёлая и быстрая карточная игра для любой компании, для малого и большого количества игроков</p>
        </div>
        <button class="games__next-btn">
          <img src="../assets/images/slider-arrow.svg" />
        </button>
      </div>
      <div class="swiper-slide">
        <img src="../assets/images/svintus-hq.png" />
        <div class="games__slide-text">
          <h4>Имаджинариум</h5>
          <p>Весёлая и быстрая карточная игра для любой компании, для малого и большого количества игроков</p>
        </div>
        <button class="games__next-btn">
          <img src="../assets/images/slider-arrow.svg" />
        </button>
      </div>
      <div class="swiper-slide">
        <img src="../assets/images/mafia-hq.png" />
        <div class="games__slide-text">
          <h4>Данетки</h5>
          <p>Весёлая и быстрая карточная игра для любой компании, для малого и большого количества игроков</p>
        </div>
      </div>
    </div>
  </div>

  <div class="games__pagination">
    <div class="games__description">
      <div class="games__hr"></div>
      <div id="progress-hr-1" class="games__progress games__hr"></div>
      <div class="games__description-block">
        <div class="games__description-text">
          <h5>Свинтус NEON</h5>
          <p>Хрю-киберпанк наступил</p>
        </div>
        <img src="../assets/images/svintus-small.png" />
      </div>
    </div>
    <div class="games__description">
      <div class="games__hr"></div>
      <div id="progress-hr-2" class="games__progress games__hr"></div>
      <div class="games__description-block">
        <div class="games__description-text">
          <h5>Mafia</h5>
          <p>Психологическая игра</p>
        </div>
        <img src="../assets/images/mafia-small.png" />
      </div>
    </div>
    <div class="games__description">
      <div class="games__hr"></div>
      <div id="progress-hr-3" class="games__progress games__hr"></div>
      <div class="games__description-block">
        <div class="games__description-text">
          <h5>Имаджинариум</h5>
          <p>Карты и ассоциации</p>
        </div>
        <img src="../assets/images/imaginarium-small.png" />
      </div>
    </div>
    <div class="games__description">
      <div class="games__hr"></div>
      <div id="progress-hr-4" class="games__progress games__hr"></div>
      <div class="games__description-block">
        <div class="games__description-text">
          <h5>Данетки</h5>
          <p>Игра в загадки</p>
        </div>
        <img src="../assets/images/danetki-small.png" />
      </div>
    </div>
  </div>
</section>
