<header class="header">
    <div class="wrapper">
        <nav class="header__menu">
            <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">о&nbsp;компании</a>
            <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">вакансии</a>
        </nav>

        <image class="header__logo" src="../assets/images/logo.svg" />

        <button class="header__button gradient-button">Начать играть</button>

        <button class="header__burger-wrapper">
            <div class="header__burger"></div>
        </button>
    </div>
</header>