<section class="introducing">
  <div class="introducing__blue-glow"></div>
  <div class="introducing__purple-glow"></div>
  <img class="introducing__image-planet" src="../assets/images/planet.png" alt="planet" />
  <img class="introducing__image-blue-ghost" src="../assets/images/blue-ghost.svg" alt="blue ghost" />

  <h1 class="introducing__headline"><span>Лучшие</span> игры<br>со всего мира</h1>
  <p class="introducing__price-info">
    Каждую пятницу новая порция.<br>Подписка за <span>399 ₽</span> в месяц
  </p>

  <form class="introducing__mail-field">
    <input id="mail-field" type="email" placeholder="Введите email чтобы войти в аккаунт или создать новый" />
    <button class="introducing__mail-send">
      <img src="../assets/images/arrow-right.svg" alt="right arrow" />
    </button>
    <img class="introducing__image-yellow-ghost" src="../assets/images/yellow-ghost.svg" alt="yellow ghost" />
  </form>

  <div class="introducing__top-games">
    <button class="introducing__game-card">
      <div class="game-card svintus"></div>
      <h6 class="introducing__game-name">Свинтус NEON</h6>
      <p class="introducing__game-description">Весёлая и быстрая карточная<br>игра для любой компании</p>
    </button>

    <button class="introducing__game-card">
      <div class="game-card kviz"></div>
      <h6 class="introducing__game-name">Квиз Логика</h6>
      <p class="introducing__game-description">Настольное развлечение<br>для детей и взрослых</p>
    </button>

    <button class="introducing__game-card">
      <div class="game-card truth-or-dare"></div>
      <h6 class="introducing__game-name">Правда или действие</h6>
      <p class="introducing__game-description">Всё будет основано только на вашей<br>жизни и фактах из неё</p>
    </button>

    <button class="introducing__game-card">
      <div class="game-card imaginarium"></div>
      <h6 class="introducing__game-name">Имаджинариум</h6>
      <p class="introducing__game-description">Вам понадобится вся ваша<br>фантазия и эмпатия</p>
    </button>
  </div>

  <div class="introducing__video">
    <div class="introducing__video-glow"></div>
    <video src="../assets/videos/party-station-video.mp4" autoplay muted loop></video>
  </div>
</section>
