<section class="partners">
    <div class="section-headline">
        <p>Наши партнеры</p>
    </div>

    <div class="swiper partners__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide partners__slide">
                <img src="../assets/images/megafon.svg" />
            </div>

            <div class="swiper-slide partners__slide">
                <img src="../assets/images/mts.svg" />
            </div>

            <div class="swiper-slide partners__slide">
                <img src="../assets/images/ruda.svg" />
            </div>

            <div class="swiper-slide partners__slide">
                <img src="../assets/images/xiaomi.svg" />
            </div>

            <div class="swiper-slide partners__slide">
                <img src="../assets/images/quizheroes.svg" />
            </div>

            <div class="swiper-slide partners__slide">
                <img src="../assets/images/sber.svg" />
            </div>

            <div class="swiper-slide partners__slide partners__slide_dubbed">
                <img src="../assets/images/megafon.svg" />
            </div>

            <div class="swiper-slide partners__slide partners__slide_dubbed">
                <img src="../assets/images/mts.svg" />
            </div>

            <div class="swiper-slide partners__slide partners__slide_dubbed">
                <img src="../assets/images/ruda.svg" />
            </div>

            <div class="swiper-slide partners__slide partners__slide_dubbed">
                <img src="../assets/images/xiaomi.svg" />
            </div>

            <div class="swiper-slide partners__slide partners__slide_dubbed">
                <img src="../assets/images/quizheroes.svg" />
            </div>

            <div class="swiper-slide partners__slide partners__slide_dubbed">
                <img src="../assets/images/sber.svg" />
            </div>
        </div>
    </div>
</section>