<section class="price">
  <div class="section-headline">
    <p>Играйте бесплатно, купите потом</p>
  </div>

  <div class="price__bubbles">
    <a href="#" class="price__bubble">
      <img class="price__image" src="../assets/images/pine.svg" />
      <h6 class="price__price">Бесплатно</h6>
      <p class="price__description">
        <span>Базовая версия</span><br />с ограниченным доступом
      </p>
    </a>

    <a href="#" class="price__bubble">
      <img class="price__image price__small-image" src="../assets/images/star.svg" />
      <h6 class="price__price">399 руб/месяц</h6>
      <p class="price__description">
        <span>Премиум версия</span><br />с полным доступом
      </p>
    </a>
  </div>
</section>
