<section class="quotes">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide quotes__slide">
        <blockquote class="quotes__quote">
          Команда, опыт, любовь к прогрессу, экспертиза, а еще business-first
          подход: мы не «продаем решения», а создаем стратегию развития вместе с
          заказчиком, где важен результат, а не набор технологий.
        </blockquote>
        <div class="quotes__person">
          <p class="quotes__name">Антон Кириленко</p>
          <div class="quotes__photo">
            <img src="../assets/images/man-photo.png" />
          </div>
        </div>
      </div>

      <div class="swiper-slide quotes__slide">
        <blockquote class="quotes__quote">
          Команда, опыт, любовь к прогрессу, экспертиза, а еще business-first
          подход: мы не «продаем решения», а создаем стратегию развития вместе с
          заказчиком, где важен результат, а не набор технологий.
        </blockquote>
        <div class="quotes__person">
          <p class="quotes__name">Антон Кириленко</p>
          <div class="quotes__photo">
            <img src="../assets/images/man-photo.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="slider-controls quotes__buttons">
        <button class="quotes__button_back">
          <img src="../assets/images/arrow-right.svg" />
        </button>
        <button class="quotes__button_forward">
          <img src="../assets/images/arrow-right.svg" />
        </button>
      </div>
  </div>
</section>
