<section class="sliders">
  <div class="sliders__purple-glow purple-glow"></div>
  
  <div id="slider-1">
    <div class="sliders__header">
      <h2 class="sliders__title">Новинки</h2>
      <div class="slider-controls">
        <button class="sliders__button_back">
          <img src="../assets/images/arrow-right.svg" />
        </button>
        <button class="sliders__button_forward">
          <img src="../assets/images/arrow-right.svg" />
        </button>
      </div>
    </div>

    <div class="sliders__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide game-card svintus"></div>
        <div class="swiper-slide game-card kviz"></div>
        <div class="swiper-slide game-card truth-or-dare"></div>
        <div class="swiper-slide game-card imaginarium"></div>
        <div class="swiper-slide game-card svintus"></div>
        <div class="swiper-slide game-card kviz"></div>
        <div class="swiper-slide game-card truth-or-dare"></div>
        <div class="swiper-slide game-card invisible"></div>
      </div>
    </div>
  </div>

  <div id="slider-2">
    <div class="sliders__header">
      <h2 class="sliders__title">Для всей семьи</h2>
      <div class="slider-controls">
        <button class="sliders__button_back">
          <img src="../assets/images/arrow-right.svg" />
        </button>
        <button class="sliders__button_forward">
          <img src="../assets/images/arrow-right.svg" />
        </button>
      </div>
    </div>

    <div class="sliders__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide game-card imaginarium"></div>
        <div class="swiper-slide game-card truth-or-dare"></div>
        <div class="swiper-slide game-card kviz"></div>
        <div class="swiper-slide game-card svintus"></div>
        <div class="swiper-slide game-card truth-or-dare"></div>
        <div class="swiper-slide game-card kviz"></div>
        <div class="swiper-slide game-card svintus"></div>
        <div class="swiper-slide game-card invisible"></div>
      </div>
    </div>
  </div>

  <div id="slider-3">
    <div class="sliders__header">
      <h2 class="sliders__title">Для самых умных</h2>
      <div class="slider-controls">
        <button class="sliders__button_back">
          <img src="../assets/images/arrow-right.svg" />
        </button>
        <button class="sliders__button_forward">
          <img src="../assets/images/arrow-right.svg" />
        </button>
      </div>
    </div>

    <div class="sliders__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide game-card truth-or-dare"></div>
        <div class="swiper-slide game-card svintus"></div>
        <div class="swiper-slide game-card imaginarium"></div>
        <div class="swiper-slide game-card kviz"></div>
        <div class="swiper-slide game-card svintus"></div>
        <div class="swiper-slide game-card truth-or-dare"></div>
        <div class="swiper-slide game-card kviz"></div>
        <div class="swiper-slide game-card invisible"></div>
      </div>
    </div>
  </div>
</section>
