<section class="steps">
  <div class="section-headline">
    <p>Играйте вместе</p>
    <h2>
      Partystation — новый способ развлечений для любой компании
    </h2>
  </div>

  <img class="steps__pink-sphere" src="../assets/images/pink-sphere.png" />
  <div class="steps__cocktail-astronaut">
    <img src="../assets/images/cocktail-astronaut.png" />
  </div>
  <div class="steps__party-astronaut">
    <img src="../assets/images/party-astronaut.png" />
  </div>

  <div class="steps__flex-wrapper">
    <div class="steps__first step">
      <p>Собери друзей перед экраном ТВ и можно начинать вечеринку!</p>
      <h3><p>01</p></h3>
    </div>
  
    <img class="steps__first-arrow" src="../assets/images/first-arrow.svg" />
  
    <div class="steps__second step">
      <p>Подключайте смартфоны к телевизору одним нажатием</p>
      <h3><p>02</p></h3>
    </div>
  
    <img class="steps__second-arrow" src="../assets/images/second-arrow.svg" />
  
    <div class="steps__third step">
      <p>Смартфоны в руках возьмут —игровые контроллеры</p>
      <h3><p>03</p></h3>
    </div>
  </div>

  <img class="steps__third-arrow" src="../assets/images/third-arrow.svg" />

  <button class="steps__play-btn">Начать играть</button>

  <img class="steps__fourth-arrow" src="../assets/images/fourth-arrow.svg" />

  <div class="steps__android-info">
    <img src="../assets/images/android.svg" alt="android"/>
    <p>Так же доступно на AndroidTV</p>
  </div>

  <div class="steps__platform-selection">
    <h5 class="steps__platform-title">Где хотите начать играть?</h5>
    <div class="steps__platform-buttons">
      <button class="gradient-button">ПК</button>
      <p>или</p>
      <button class="gradient-button steps__android-button">Android TV</button>
    </div>
  </div>
</section>
